


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.center1{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  width:100px;
  height: 30px;
  transform: scale(2,5);
  

  
}
.center2{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  width:100px;
  height: 30px;
  transform: scale(2,9);

  
}
.center4{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 }







